@-moz-document url-prefix('') {
  .pdfViewer {
    filter: invert(92%)
      hue-rotate(180deg)
      brightness(95%)
      contrast(90%) !important;
  }

  /* Fix images */
  .pdfViewer img {
    filter: invert(100%)
      hue-rotate(180deg) !important;
  }

}

